@use '../abstracts/' as *;

.partners {
    @include flex(center, center);
    width: 100%;
    flex-wrap: wrap;
    padding-top: px-to-rem(48);
    gap: px-to-rem(35) px-to-rem(29);

    &__logo {
        height: px-to-rem(19);
    }

    @include breakpoint_up('tablet') {
        padding: clamp(px-to-rem(32), 8vw, px-to-rem(77)) px-to-rem(160);

        &__logo {
            height: min(4vw, px-to-rem(32));
        }
    }

    @include breakpoint_up('desktop') {
        padding: px-to-rem(2) px-to-rem(24);
        gap: px-to-rem(104);
    }
}
