@use '../abstracts' as *;

/**
 * Travel Point Section
 */
.travel-point {
    padding-top: px-to-rem(128);
    width: 100%;

    &__heading {
        text-align: center;
    }

    &__title {
        margin-bottom: px-to-rem(28);
        line-height: $lh-heading;
    }

    &__subtitle {
        margin-bottom: px-to-rem(26);
    }

    &__content {
        @include flex($direction: column, $gap: px-to-rem(43));
    }

    &__image {
        display: block;
        width: 100%;

        img {
            width: 100%;
        }
    }

    &__description {
        max-width: 100%;
        text-align: center;
        padding: 0 px-to-rem(32);
    }

    &__info {
        @include flex($direction: column, $gap: px-to-rem(30));
    }

    &__stats {
        @include grid(1fr, px-to-rem(16));
        padding: 0 px-to-rem(40);
    }

    @include breakpoint-up('tablet') {
        padding-top: px-to-rem(55);
        position: relative;
        width: 100%;

        &__description {
            padding: 0;
        }

        &__heading {
            padding: 0 px-to-rem(62);
        }

        &::before {
            content: '';
            position: absolute;
            width: px-to-rem(400);
            height: px-to-rem(1000);
            right: 0;
            top: 0;
            filter: blur(px-to-rem(60));
            border-radius: $radius-lg 0 0 $radius-lg;
            transform: translateY(-40%);
            background: $travel-point-gradient;
        }

        &__info {
            padding: px-to-rem(48) px-to-rem(32) 0 px-to-rem(32);
            gap: px-to-rem(45);
        }

        &__stats {
            @include grid(repeat(2, 1fr), px-to-rem(30));
            padding: px-to-rem(24) px-to-rem(64) 0 px-to-rem(36);
            row-gap: px-to-rem(32);
        }

        &__content {
            gap: px-to-rem(40);
        }
    }

    @include breakpoint-up('desktop') {
        padding-top: px-to-rem(108);

        &__heading {
            text-align: left;
            padding: 0 px-to-rem(64) 0 0;
        }

        &__content {
            @include flex($align: center);
            justify-content: center;
        }

        &__info {
            padding: px-to-rem(56) px-to-rem(32) 0 0;
        }

        &__image {
            padding-top: px-to-rem(32);
            width: clamp(10rem, 60vw, 55rem);
            max-width: px-to-rem(880);

            img {
                width: 100%;
            }
        }

        &__info {
            flex: 0 0 40%;
            max-width: px-to-rem(600);
        }

        &__description {
            text-align: left;
            max-width: px-to-rem(450);
            padding-top: px-to-rem(5);
        }

        &__heading {
            .travel-point__title {
                margin-bottom: px-to-rem(19) px-to-rem(19);
                line-height: $lh-heading;
            }
        }

        &__stats {
            padding: px-to-rem(20) px-to-rem(80) 0 0;
            position: relative;

            .stat-card {
                padding: px-to-rem(30) px-to-rem(16);
            }
        }

        &__stats > :nth-child(2)::after {
            content: '';
            background: url('/assets/images/travelpoint_section/badge.png');
            background-repeat: no-repeat;
            width: px-to-rem(192);
            height: px-to-rem(192);
            position: absolute;
            top: px-to-rem(-40);
            right: px-to-rem(-40);
        }
    }
}
