@use '../abstracts' as *;

.button {
    @include flex(center, center);
    @include typography($fs-xs, $fw-bold, $line-height: $lh-body);
    text-decoration: none;
    white-space: nowrap;
    padding: px_to_rem(14.4) px_to_rem(33.6);
    border-radius: $radius-md;
    text-decoration: none;
    &--outlined {
        color: $clr-black;
        padding: 0;
        &:hover {
            color: $clr-button;
        }
    }

    &--contained {
        background: $clr-button;
        color: $clr-white;

        &:hover {
            opacity: 0.9;
        }
    }

    &--sm {
        padding: 0;
        border-radius: $radius-md;
        text-decoration: none;
        font-size: $fs-xs;
    }
}
