@use '../abstracts/' as *;

/**
 * Hero Section
 */
.hero {
    width: 100%;
    max-width: px-to-rem(1920);
    padding: px-to-rem(16);
    overflow-x: hidden;
    background: radial-gradient(
            130% 120% at 10% 28%,
            $clr-navbar-bg-start 0%,
            $clr-navbar-bg-end 20%,
            rgba($clr-navbar-bg-end, 0.35) 40%,
            transparent 65%
        ),
        $clr-white;

    &__content {
        @include flex($direction: column);
        width: 100%;
        padding-top: px-to-rem(131);
    }

    &__visuals {
        @include flex($justify: flex-start, $align: flex-start);
        width: 100%;
        background: url('/assets/images/hero_section/background_image.svg')
            no-repeat top center / contain;
    }

    &__images {
        @include flex(
            $justify: center,
            $align: center,
            $gap: clamp(px-to-rem(11), 12%, px-to-rem(14))
        );
        width: 100%;
        padding-top: px-to-rem(38);
    }

    &__left {
        @include flex(
            $direction: column,
            $gap: clamp(px-to-rem(12), 12%, px-to-rem(16))
        );
    }

    &__seaview,
    &__mountain,
    &__city {
        position: relative;

        img {
            width: 100%;
            height: auto;
        }
    }

    &__seaview,
    &__mountain {
        width: clamp(px-to-rem(80), 36vw, px-to-rem(140));
    }

    &__seaview {
        @include insert-icon(
            'hero-send',
            'after',
            $clr-white,
            $clr-primary,
            $font-size: $fs-xs
        );

        &::after {
            position: absolute;
            bottom: px-to-rem(-15);
            left: px-to-rem(-18);
            padding: px-to-rem(5) px-to-rem(9);
            border-radius: $radius-lg;
            box-shadow: $shadow-md;
        }
    }

    &__city {
        @include flex(center, center);
        width: clamp(px-to-rem(80), 38vw, px-to-rem(144));
        min-width: px-to-rem(80);
    }

    &__headings {
        @include flex($direction: column, $align: center, $gap: px-to-rem(19));
        padding-top: px-to-rem(24);
        text-align: center;

        .start,
        .demo {
            width: 100%;
            padding: px-to-rem(22);
        }

        .demo {
            @include flex(center, center, row, px-to-rem(12));
            background-color: $clr-white;
            box-shadow: $shadow-sm;

            @include insert-icon(
                'hero-play',
                'before',
                $clr-button,
                transparent,
                $font-size: $fs-sm
            );
        }

        .start {
            box-shadow: $shadow-md;
        }
    }

    &__badge {
        @include flex(center, center);
        width: px-to-rem(224);
        height: px-to-rem(56);
        border-radius: $radius-md;
        background: transparent;
        color: $clr-primary;
        font-size: $fs-xs;
        font-weight: $fw-bold;
        box-shadow: $shadow-md;

        @include insert-icon(
            'hero-badge',
            'after',
            $clr-primary,
            transparent,
            $font-size: $fs-md
        );

        &::after {
            margin-left: px-to-rem(22);
        }
    }

    &__heading {
        color: $clr-heading;
        font-size: clamp(px-to-rem(40), 8vw, px-to-rem(48));
        font-weight: $fw-bold;
        line-height: $lh-heading;
        letter-spacing: px-to-rem(1);
        text-wrap: balance;
    }

    &__span {
        color: $clr-primary;
    }

    &__actions {
        @include flex($direction: column, $gap: px-to-rem(24));
        width: 100%;
        margin-top: px-to-rem(13);
    }

    @include breakpoint-up('tablet') {
        padding: 0;

        &__content {
            gap: px-to-rem(32);
            background: url('/assets/images/hero_section/triangle-design.svg')
                no-repeat;
            background-position: 4% 100%;
        }

        &__visuals {
            justify-content: center;
            padding: px-to-rem(64) 0 0;
            margin-top: px-to-rem(48);
            background-size: min(100%, px-to-rem(770));
        }

        &__images {
            @include flex(flex-start, center);
            width: 100%;
            padding: px-to-rem(8) 21%;
            gap: clamp(px-to-rem(16), 2.5vw, px-to-rem(24));
        }

        &__left {
            flex: 1;
            gap: clamp(px-to-rem(16), 3vw, px-to-rem(32));
        }

        &__span {
            br {
                display: none;
            }
        }

        &__seaview,
        &__mountain {
            width: clamp(px-to-rem(120), 28vw, px-to-rem(272));
        }

        &__seaview::after {
            @include flex(center, center);
            bottom: -10%;
            left: -12%;
            padding: min(2vw, px-to-rem(6)) min(px-to-rem(15), 2vw);
            font-size: $fs-icons-md;
        }

        &__city {
            display: flex;
            flex: 1;
            justify-content: flex-start;
            min-width: px-to-rem(128);
            margin-top: px-to-rem(2);

            img {
                width: 92%;
            }
        }

        &__headings {
            width: 100%;
            padding: px-to-rem(19) px-to-rem(64) 0;
            gap: px-to-rem(40);
        }

        &__heading {
            padding-top: px-to-rem(8);
            font-size: clamp(px-to-rem(48), 6vw, px-to-rem(64));
            line-height: $lh-title;
            letter-spacing: 0;
            word-spacing: 0;
        }

        &__actions {
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 100%;
            margin-top: 0;
            margin-bottom: px-to-rem(51);
            gap: px-to-rem(18);

            .start {
                width: clamp(px-to-rem(20), 22vw, px-to-rem(140));
                padding: min(px-to-rem(16), 2vw) min(px-to-rem(24), 2vw);
                white-space: nowrap;
            }

            .done {
                width: clamp(px-to-rem(20), 22vw, px-to-rem(180));
                padding: min(px-to-rem(16), 2vw) min(px-to-rem(64), 40vw);
                white-space: nowrap;

                &::before {
                    font-size: min($fs-sm, 4vw);
                }
            }
        }

        .hero__description {
            max-width: px-to-rem(440);
            padding-top: px-to-rem(3);
            font-size: $fs-sm;
        }
    }

    @include breakpoint-up('desktop') {
        padding: px-to-rem(140) 0 px-to-rem(110);
        background:
            url('/assets/images/hero_section/triangle_design.svg') no-repeat,
            radial-gradient(
                130% 120% at 10% 28%,
                $clr-navbar-bg-start 0%,
                $clr-navbar-bg-end 20%,
                rgba($clr-navbar-bg-end, 0.35) 40%,
                transparent 65%
            ),
            $clr-white;
        background-position: 2.9% 100%;

        .start {
            width: clamp(px-to-rem(120), 11vw, px-to-rem(140));
            padding: clamp(px-to-rem(12), 0.84vw, px-to-rem(16))
                clamp(px-to-rem(18), 1.25vw, px-to-rem(24));
            white-space: nowrap;
        }

        .demo {
            width: clamp(px-to-rem(152), 13vw, px-to-rem(180));
            padding: clamp(px-to-rem(12), 0.84vw, px-to-rem(16))
                clamp(px-to-rem(32), 3.33vw, px-to-rem(64));
            white-space: nowrap;

            &::before {
                font-size: clamp($fs-xs, 0.92vw, $fs-sm);
            }
        }

        &__badge {
            margin-left: clamp(px-to-rem(40), 2vw, px-to-rem(120));
        }

        &__content {
            @include flex(
                $justify: flex-start,
                $align: center,
                $direction: row
            );

            padding: 0;
            gap: 0;
            background: none;
        }

        &__headings {
            order: 1;
            flex: 0 1 38%;
            min-width: px-to-rem(320);
            align-items: flex-start;
            padding: clamp(px-to-rem(100), 5.42vw, px-to-rem(154)) 0 0
                clamp(px-to-rem(96), 3.33vw, px-to-rem(108));
            gap: clamp(px-to-rem(12), 0.84vw, px-to-rem(16));
            text-align: left;
        }

        &__heading {
            padding: px-to-rem(40) 0 0 px-to-rem(42);
            margin-bottom: 0;
            font-weight: $fw-bold;
            line-height: clamp(px-to-rem(80), 4.58vw, px-to-rem(88));
            letter-spacing: clamp(px-to-rem(01), 0.21vw, px-to-rem(4));
        }

        &__actions {
            justify-content: flex-start;
            padding: px-to-rem(32) 0 0 px-to-rem(30);
        }

        &__left {
            flex: 1;
            min-width: 0;
            max-width: clamp(px-to-rem(320), 20vw, px-to-rem(384));
        }

        &__visuals {
            order: 2;
            justify-content: flex-start;
            flex: 1 1 80%;
            width: 100%;
            max-width: px-to-rem(800);
            padding-left: px-to-rem(20);
            margin-top: px-to-rem(40);
            background-size: 97%;
            background-position: 0 px-to-rem(24);
        }

        &__images {
            justify-content: center;
            width: 100%;
            max-width: clamp(px-to-rem(640), 30vw, px-to-rem(800));
            padding: clamp(px-to-rem(37), 2vw, px-to-rem(96)) 0 0
                clamp(px-to-rem(74), 4.17vw, px-to-rem(140));
            gap: clamp(px-to-rem(20), 2vw, px-to-rem(154));
        }

        &__seaview,
        &__mountain {
            width: clamp(px-to-rem(272), 14.17vw, px-to-rem(272));
        }

        &__city {
            width: clamp(px-to-rem(260), 14.17vw, px-to-rem(272));
            min-width: px-to-rem(272);
            padding-bottom: clamp(px-to-rem(8), 0.84vw, px-to-rem(16));

            img {
                width: 100%;
            }
        }

        .hero__description {
            max-width: px-to-rem(430);
            padding: px-to-rem(28) 0 0 px-to-rem(40);
        }
    }
}

.break-heading {
    display: block;

    @include breakpoint-up('tablet') {
        display: none;
    }
}

.break-line {
    @include breakpoint-up('desktop') {
        display: block;
    }
}

.mountain__badge {
    position: relative;

    @include insert-icon(
        'hero-user',
        'after',
        $clr-white,
        $clr-orange,
        $font-size: $fs-xs
    );

    &::after {
        position: absolute;
        right: px-to-rem(-88);
        bottom: px-to-rem(-2);
        padding: px-to-rem(5) px-to-rem(9);
        border-radius: $radius-lg;
        box-shadow: $shadow-md;
    }

    @include breakpoint-up('tablet') {
        &::after {
            right: -65%;
            bottom: px-to-rem(-8);
            padding: min(px-to-rem(13), 1.2vw) min(px-to-rem(21), 2vw);
            font-size: $fs-icons-sm;
        }
    }
}

.city__badge {
    @include flex(center, center, row, px-to-rem(6));
    position: absolute;
    right: -30%;
    bottom: 12%;
    padding: min(2vw, px-to-rem(4)) min(4vw, px-to-rem(16));
    border-radius: $radius-md;
    background: $clr-white;
    font-size: clamp(px-to-rem(6), 1.5vw, px-to-rem(8));
    box-shadow: $shadow-md;

    @include insert-icon(
        'hero-place',
        'before',
        $clr-yellow,
        transparent,
        $font-size: px-to-rem(13)
    );

    @include breakpoint-up('tablet') {
        right: -16%;
        padding: px-to-rem(8) min(px-to-rem(24), 2vw);
        gap: px-to-rem(5);
        font-size: clamp(px-to-rem(3), 2vw, px-to-rem(14));

        &::before {
            font-size: clamp(px-to-rem(3), 2vw, $fs-icons-sm);
        }
    }

    @include breakpoint-up('desktop') {
        right: clamp(px-to-rem(-56), -2.92vw, px-to-rem(-32));
    }
}
