@use '../abstracts/' as *;

/**
 * Hero Section
 */
.hero {
    width: 100%;
    max-width: 120rem;
    padding: 1rem;
    padding-top: 1rem;
    overflow-x: hidden;
    background: radial-gradient(
            130% 120% at 10% 28%,
            $clr-navbar-bg-start 0%,
            $clr-navbar-bg-end 20%,
            rgba($clr-navbar-bg-end, 0.35) 40%,
            transparent 65%
        ),
        $clr-white;
}

.break-heading {
    display: block;
}

/**
 * Hero Content
 */
.hero__content {
    @include flex($direction: column);
    padding-top: 8.2rem;
    width: 100%;
}

/**
 * Hero Visuals
 */
.hero__visuals {
    @include flex($justify: flex-start, $align: flex-start);
    width: 100%;
    background: url('/assets/images/hero_section/background_image.svg')
        no-repeat top center / contain;
}

/**
 * Hero Images
 */
.hero__images {
    @include flex(
        $justify: center,
        $align: center,
        $gap: clamp(0.7rem, 12%, 0.9rem)
    );
    width: 100%;
    padding-top: 2.4rem;
}

.hero__left {
    @include flex($direction: column, $gap: clamp(0.75rem, 12%, 1rem));
}

.hero__image1,
.hero__image2,
.hero__right {
    position: relative;

    img {
        width: 100%;
        height: auto;
    }
}

.hero__right {
    @include flex(center, center);
    min-width: 5rem;
}

.hero__image1 {
    @include insert-icon(
        'hero-send',
        'after',
        $clr-white,
        $clr-primary,
        $font-size: $fs-xs
    );

    &::after {
        position: absolute;
        left: -1.1rem;
        bottom: -0.95rem;

        padding: 0.3rem 0.55rem;

        border-radius: 50%;

        box-shadow: 0 0.625rem 1.25rem rgba(0, 0, 0, 0.25);
    }
}

.hero__image1,
.hero__image2 {
    width: clamp(5rem, 36vw, 8.75rem);
}

.hero__right {
    width: clamp(5rem, 38vw, 9rem);
}

.image2__badge {
    position: relative;

    @include insert-icon(
        'hero-user',
        'after',
        $clr-white,
        $clr-orange,
        $font-size: 0.9rem
    );

    &::after {
        position: absolute;

        right: -5.5rem;
        bottom: -0.1rem;

        padding: 0.3rem 0.55rem;

        border-radius: 50%;

        box-shadow: 0 0.625rem 1.25rem rgba(0, 0, 0, 0.25);
    }
}

.image3__badge {
    @include flex(center, center, row, 0.35rem);
    position: absolute;
    right: -30%;
    bottom: 12%;
    padding: min(2vw, 0.25rem) min(4vw, 1rem);
    border-radius: $radius-md;
    background: $clr-white;
    font-size: clamp(0.4rem, 1.5vw, 0.5rem);
    box-shadow: 0 0.625rem 1.25rem rgba(0, 0, 0, 0.2);

    @include insert-icon(
        'hero-place',
        'before',
        $clr-yellow,
        transparent,
        $font-size: 0.8rem
    );
}

/**
 * Hero Headings
 */
.hero__headings {
    @include flex($direction: column, $align: center, $gap: 1.2rem);
    padding-top: 1.5rem;
    text-align: center;
}

/**
 * Hero Badge
 */
.hero__badge {
    @include flex(center, center);
    width: rem(224);
    height: rem(56);
    border-radius: $radius-md;
    background: transparent;
    color: $clr-primary;
    font-size: $fs-xs;
    font-weight: $fw-bold;
    box-shadow: 0 0.5rem 1.5rem rgba(149, 157, 165, 0.2);

    @include insert-icon(
        'hero-badge',
        'after',
        $clr-primary,
        transparent,
        $font-size: 1.2rem
    );

    &::after {
        margin-left: 1.35rem;
    }
}

/**
 * Hero Heading
 */
.hero__heading {
    color: $clr-heading;
    font-size: clamp(2.5rem, 8vw, 3rem);
    font-weight: $fw-bold;
    line-height: $lh-heading;
    letter-spacing: 0.05rem;
    text-wrap: balance;
}

.hero__span {
    color: $clr-primary;
}

/**
 * Hero Actions
 */
.hero__actions {
    @include flex($direction: column, $gap: 1.5rem);
    width: 100%;
    margin-top: 0.8rem;
    .button--contained,
    .button--outlined {
        width: 100%;
        padding: 1.38rem;
    }
    .button--contained {
        @include flex(center, center, row, 0.75rem);
        box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.12);
        background-color: $clr-white;
        @include insert-icon(
            'hero-play',
            'before',
            $clr-button,
            transparent,
            $font-size: 1.1rem
        );
    }
}

/**
 * Tablet View
 */
@include breakpoint-up('tablet') {
    .hero {
        padding: 0rem 0rem;
    }

    .break-heading {
        display: none;
    }

    .hero__content {
        gap: 3rem;
        background: url('/assets/images/hero_section/triangle-design.svg')
            no-repeat;
        background-position: 4% 100%;
        gap: 2rem;
    }

    /**
     * Hero Visuals
     */
    .hero__visuals {
        padding-top: 4rem;
        padding-left: 0;
        margin-top: 3rem;
        justify-content: center;
        background-size: min(100%, rem(770));
    }

    .hero__images {
        @include flex(flex-start, center);
        width: 100%;
        padding: 0.5rem 21%;
        gap: clamp(1rem, 2.5vw, 1.5rem);
    }

    .hero__left {
        gap: clamp(1rem, 3vw, 2rem);
        flex: 1;
    }

    .hero__span {
        br {
            display: none;
        }
    }

    .hero__image1,
    .hero__image2 {
        width: clamp(rem(120), 28vw, rem(272));
    }

    .hero__right {
        min-width: 8rem;
        margin-top: 0.1rem;
        display: flex;
        justify-content: flex-start;
        flex: 1;
        img {
            width: 92%;
        }
    }

    /**
     * Badges
     */
    .hero__image1::after {
        @include flex(center, center);
        left: -12%;
        bottom: -10%;
        font-size: $fs-icons-md;
        padding: min(2vw, 0.4rem) min(0.95rem, 2vw);
    }

    .image2__badge::after {
        right: -65%;
        bottom: -0.5rem;
        font-size: $fs-icons-sm;
        padding: min(0.8rem, 1.2vw) min(1.3rem, 2vw);
    }

    .image3__badge {
        right: -16%;
        font-size: clamp(0.2rem, 2vw, 0.9rem);
        padding: 0.5rem min(1.5rem, 2vw);
        gap: 0.3rem;
        &::before {
            font-size: clamp(0.2rem, 2vw, $fs-icons-sm);
        }
    }

    /**
     * Headings
     */
    .hero__headings {
        padding: 0 4rem;
        width: 100%;
        padding-top: 1.2rem;
        gap: 2.5rem;
    }

    .hero__heading {
        font-size: clamp(3rem, 6vw, 4rem);
        line-height: 4rem;
        letter-spacing: 0;
        word-spacing: 0;
        padding-top: 0.5rem;
    }

    .hero .description {
        max-width: rem(440);
        font-size: $fs-sm;
        padding-top: 0.2rem;
    }

    /**
     * Buttons
     */
    .hero__actions {
        width: 100%;
        flex-direction: row;
        margin-top: 0;
        margin-bottom: 3.2rem;
        align-items: center;
        justify-content: center;
        gap: 1.1rem;
        .button--outlined {
            width: clamp(rem(20), 22vw, rem(140));
            padding: min(1rem, 2vw) min(1.5rem, 2vw);
            white-space: nowrap;
        }
        .button--contained {
            width: clamp(rem(20), 22vw, rem(180));
            padding: min(1rem, 2vw) min(4rem, 40vw);
            white-space: nowrap;
            &::before {
                font-size: min(1.1rem, 4vw);
            }
        }
    }
}

/**
 * Desktop View
 */
@include breakpoint-up('desktop') {
    .hero {
        padding: 1rem 3.5rem;
        padding-bottom: 7.4rem;
        background:
            url('/assets/images/hero_section/triangle_design.svg') no-repeat,
            radial-gradient(
                130% 120% at 10% 28%,
                $clr-navbar-bg-start 0%,
                $clr-navbar-bg-end 20%,
                rgba($clr-navbar-bg-end, 0.35) 40%,
                transparent 65%
            ),
            $clr-white;
        background-position: 2.9% 100%;
        .button--outlined {
            width: clamp(rem(20), 22vw, rem(140));
            padding: min(1rem, 2vw) min(1.5rem, 2vw);
            white-space: nowrap;
        }
        .button--contained {
            width: clamp(rem(20), 22vw, rem(180));
            padding: min(1rem, 2vw) min(4rem, 40vw);
            white-space: nowrap;
            &::before {
                font-size: min(1.1rem, 4vw);
            }
        }
    }
    .hero__content {
        @include flex($justify: flex-start, $align: center, $direction: row);
        background: none;
        gap: 2.5rem;
        padding-top: 7.5rem;
        padding-left: 0.5rem;
    }

    /**
     * Hero Text
     */
    .hero__headings {
        order: 1;
        flex: 0 0 34.5%;

        align-items: flex-start;
        text-align: left;
        padding-top: 6.5rem;
        padding-right: 0;
        padding-left: 4rem;
        gap: 1rem;
    }

    .hero__heading {
        padding-top: 0.2rem;
        padding-left: 0.2rem;
        font-weight: $fw-bold;
        line-height: 5.5rem;
        letter-spacing: 0.25rem;
        margin-bottom: 0;
    }

    .hero .description {
        max-width: rem(430);
        padding-top: 1rem;
    }

    .break-line {
        display: block;
    }

    .hero__actions {
        justify-content: flex-start;
    }

    .hero__left {
        flex: 1;
        max-width: 24rem;
    }

    /**
     * Hero Visuals
     */
    .hero__visuals {
        order: 2;
        padding: 0;
        justify-content: flex-start;
        flex: 0 0 58%;
        width: 100%;
        background-size: 100%;
        background-position: 0 1.5rem;
    }

    .hero__images {
        width: 100%;
        padding-top: 6rem;
        padding-left: 5rem;
        padding-right: 5rem;
        justify-content: center;
        gap: 1rem;
        max-width: 50rem;
    }

    .hero__image1,
    .hero__image2 {
        width: rem(272);
    }

    .hero__right {
        max-width: 20rem;
        width: rem(272);
        padding-bottom: 1rem;
    }

    .image3__badge {
        right: -3.5rem;
    }

    .hero__actions {
        padding: 0;
        padding-top: 2rem;
    }
}
