@use '../abstracts/' as *;

/**
 * Reusable Link component 
 */
.link {
    @include ellipsis();
    display: inline-block;
    text-decoration: none;
    color: $clr-links;
    text-decoration: none;
    font-size: $fs-md;
    font-weight: $fw-bold;
    transition: color 0.3s ease;
    text-overflow: ellipsis;
    overflow: hidden;

    &:hover {
        color: $clr-button;
    }

    &--active {
        color: $clr-active;
    }
}
