@use '../abstracts/' as *;

/**
 * Reusable Link component 
 */
.link {
    @include ellipsis();
    @include typography($fs-sm, $fw-bold, $lh-body, $clr-links);
    display: inline-block;
    text-decoration: none;
    transition: color 0.3s ease;

    &:hover {
        color: $clr-button;
    }

    &--active {
        color: $clr-active;
    }
}
