@use '../abstracts/' as *;

/**
 * Reusable Logo component 
 */
.logo {
    @include flex($align: center);
    flex-shrink: 0;

    img {
        display: block;
        width: px-to-rem(40);
        height: auto;
    }
}
