@use '../abstracts' as *;

/**
 * Reusable Stats Card
 */
.stat-card {
    @include flex(center, center, column);
    min-height: px-to-rem(64);
    padding: px-to-rem(32);
    border: px-to-rem(2) solid rgba(25, 24, 37, 0.1);
    border-radius: $radius-sm;
    background-color: $clr-white;

    &__number {
        @include typography($fs-lg, $fw-bold, $lh-heading, $clr-orange);
        margin-bottom: px-to-rem(19);
    }

    &__label {
        @include typography($size: $fs-sm, $color: $clr-heading);
        text-align: center;
    }
}
