/**
*Animation for navbar menu 
*/
@keyframes navbar-slide {
    from {
        opacity: 0;
        transform: translateY(-1rem);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
/**
*Animation for Content opacity
*/
@keyframes content-opacity {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
