@use 'sass:map';
@use './variables' as *;
@use './functions' as *;
/**
* Flexbox
* @param {string} $justify - value of justify content.
* @param {string} $align - value of align item.
* @param {string} $direction - value of flex-direction.
* @param {number} $justify - value of gap.
*/
@mixin flex($justify: flex-start, $align: stretch, $direction: row, $gap: 0) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
    gap: $gap;
}

/**
* Grid
* @param {string} $columns - value of grid columns.
* @param {number} $justify - value of gap.
*/
@mixin grid($columns, $gap: px-to-rem(16)) {
    display: grid;
    grid-template-columns: $columns;
    gap: $gap;
}

/**
* Media Query
* @param {string} $size - name of screen size.
*/
@mixin breakpoint-up($key) {
    @if map.has-key($breakpoints, $key) {
        $size: map.get($breakpoints, $key);
        @media (min-width: $size) {
            @content;
        }
    } @else {
        @error "The breakpoint key `#{$key}` does not exist.";
    }
}

/**
* Typography
* @param {number} $size - value of font-size.
* @param {number} $weight - value of font-weight.
* @param {number} $line-height - value of line-height.
*/
@mixin typography($size, $weight: $fw-regular, $line-height: $lh-body) {
    font-size: $size;
    font-weight: $weight;
    line-height: $line-height;
}

/**
* Font icon 
* @param {string} $name - name of icon. 
* @param {string} $position - position of icon.
* @param {string} $background Color - value of background-color.  
*/
@mixin insert-icon(
    $name,
    $position,
    $color,
    $background-color,
    $font-size: px-to-rem(40)
) {
    &::#{$position} {
        font-family: Icons;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        font-size: $font-size;
        color: $color;
        background-color: $background-color;
        content: map.get($icon-map, $name);
    }
}

/**
* Mixin to truncate text with an ellipsis
* @param {Number} $lines - Number of lines to show before truncating.
*/
@mixin ellipsis($lines: 1) {
    overflow: hidden;
    text-overflow: ellipsis;

    @if $lines == 1 {
        white-space: nowrap;
    } @else {
        display: -webkit-box;
        -webkit-line-clamp: $lines;
        -webkit-box-orient: vertical;
        white-space: normal;
    }
}
