/**
*Placeholder for flex center
*/
%flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
/**
*Placeholder for full area 
*/
%full{
    width: 100%;
    height: auto;
}
