// Fonts
$font-primary: 'Roboto', sans-serif;

// Font Weights
$fw-normal: 500;
$fw-medium: 600;
$fw-bold: 700;

// Font Size
$fs-xs: 0.875rem;
$fs-sm: 1.125rem;
$fs-md: 1.4375rem;
$fs-lg: 1.75rem;
$fs-xl: 2.75rem;
$fs-2xl: 4.3125rem;
$fs-icons-md: 2rem;
$fs-icons-sm: 1.5rem;

// Line Heights
$lh-body: 1.6;
$lh-heading: 1.2;
$lh-title: 4;

// Colors
$clr-primary: #f85e9f;
$clr-button: #5d50c6;
$clr-heading: #191825;
$clr-links: #19182581;
$clr-active: #222831;
$clr-white: #ffffff;
$clr-black: #000000;
$clr-orange: #ff5722;
$clr-orange-light: #ff562241;
$clr-gray: #eeeeee;
$clr-navbar-bg-start: #f6cfc2;
$clr-navbar-bg-end: #fff2ed;
$clr-yellow: #fccc49;

// Border Radius
$radius-md: 6.25rem;
$radius-sm: 2rem;
$radius-lg: 50%;

// Breakpoints
$breakpoints: (
    'desktop': 1024px,
    'tablet': 768px,
);

// Icons
$icon-map: (
    'left-arrow': '\e903',
    'right-arrow': '\e904',
    'star': '\e905',
    'hamburger': '\e906',
    'hero-badge': '\e907',
    'hero-place': '\e908',
    'hero-play': '\e909',
    'hero-send': '\e90a',
    'hero-user': '\e90b',
    'facebook': '\e900',
    'instagram': '\e901',
    'twitter': '\e902',
    'arrow-circle-down': '\e90c',
    'cross': '\ea0f',
);

// Gradients
$navbar-gradient: radial-gradient(
        160% 180% at left center,
        $clr-navbar-bg-start 0%,
        $clr-navbar-bg-end 35%,
        transparent 60%
    ),
    $clr-white;
$hero-gradient: radial-gradient(
    130% 120% at 10% 28%,
    $clr-navbar-bg-start 0%,
    $clr-navbar-bg-end 20%,
    rgba($clr-navbar-bg-end, 0.35) 40%,
    transparent 65%
);
$travel-point-gradient:radial-gradient(90% 120% at 100% 0% #FACD49 0%,#FACD49 20%,#FACD49 40%,#FACD49 60%,#FACD49 100%);

// z-index
$z-layers: (
    'base': 1,
    'dropdown': 100,
    'sticky': 900,
);

// box shadows
$shadow-elevated: 0 10px 20px rgba(0, 0, 0, 0.25);
$shadow-subtle:
    rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
