// Fonts
$font-primary: 'Roboto', sans-serif;

// Font Weights
$fw-normal: 400;
$fw-medium: 500;
$fw-bold: 600;

// Font Size
$fs-xs: 0.875rem;
$fs-sm: 1.125rem;
$fs-md: 1.4375rem;
$fs-lg: 1.75rem;
$fs-xl: 2.75rem;
$fs-2xl: 4.3125rem;

// Line Heights
$lh-body: 1.6;
$lh-heading: 1.2;
$lh-title: 1.8;

// Colors
$clr-primary: #f85e9f;
$clr-button: #5d50c6;
$clr-heading: #191825;
$clr-links: #19182581;
$clr-active: #222831;
$clr-white: #ffffff;
$clr-black: #000000;
$clr-orange: #ff5722;
$clr-orange-light: #ff562241;
$clr-gray: #eeeeee;
$clr-navbar-bg-start: #ffe6df;
$clr-navbar-bg-end: #fff2ed;

// Border Radius
$radius-md: 6.25rem;
$radius-sm: 2rem;
$radius-lg: 50%;

// Breakpoints
$breakpoints: (
    'desktop': 1025px,
    'tablet': 768px,
);

// Icons
$icon-map: (
    'left-arrow': '\e903',
    'right-arrow': '\e904',
    'star': '\e905',
    'hamburger': '\e906',
    'hero-badge': '\e907',
    'hero-place': '\e908',
    'hero-play': '\e909',
    'hero-send': '\e90a',
    'hero-user': '\e90b',
    'facebook': '\e900',
    'instagram': '\e901',
    'twitter': '\e902',
    'arrow-circle-down': '\e90c',
    'cross': '\ea0f',
);

// Gradients
$navbar-gradient: radial-gradient(
        160% 180% at left center,
        $clr-navbar-bg-start 0%,
        $clr-navbar-bg-end 35%,
        transparent 60%
    ),
    $clr-white;

// z-index
$z-layers: (
    'base': 1,
    'dropdown': 100,
    'sticky': 900,
);
