//Inter

@font-face{
    font-family: "Inter";
    src:url("../../../public/assets/fonts/InterDisplay-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style:normal;
    font-display: swap;
}

//Icons

@font-face{
    font-family: "Icons";
    src:url("../../../public/assets/fonts/icomoon.woff") format("woff");
    font-weight: normal;
    font-style:normal;
    font-display: block;
}

//Roboto
@font-face{
    font-family: "Roboto";
    src:url("../../../public/assets/fonts/Roboto-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style:normal;
    font-display: swap;
}
