@use '../abstracts/' as *;

body {
    font-family: $font-primary;
    font-size: px-to-rem(16);
}

.description {
    @include typography($fs-sm, $fw-normal, $lh-body);
}

/**
 * Reusable Heading component 
 */
.section-heading {
    text-align: center;

    &__subtitle {
        margin-bottom: 1.6rem;
        color: $clr-primary;
        text-transform: uppercase;
        letter-spacing: 0.28rem;
        @include typography(0.9rem, $fw-bold, 0.1);
    }

    &__title {
        margin-bottom: 1.8rem;
        color: $clr-heading;
        font-size: clamp(2rem, 5vw, 4rem);
        font-weight: $fw-bold;
        line-height: 1.2;
        word-spacing: 0.4rem;
    }

    @include breakpoint-up('tablet'){
        &__subtitle {
            font-size: $fs-md;
        }

        &__title {
            font-size: $fs-xl;
        }

        &__description {
            font-size: $fs-sm;
        }
    }
    @include breakpoint-up('desktop') {
        &__title,
        &__description {
            max-width: 45rem;
        }
        &__title {
            font-size: $fs-xl;
            text-align: start;
        }

        &__subtitle {
            text-align: left;
            font-size: $fs-md;
        }
    }
}
